{% extends 'base.html' %}

{% block title %}
Bienvenidos
{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-content"></div>
        <div class="left">
            <h1>Soy desarrollador</h1>
            <h1>Tomas Ferros</h1>
            <p>Construyo aplicaciones en python dinamicas utilizando bases de datos relacionales</p>
            <a href="#contacto" class="btn">Contactame</a>
        </div>
        <div class="right">
            <img src="{{ url_for('static', filename='big-data.png') }}" width="600px" />
        </div>
    </div>
</div>
{% include 'portfolio/section-first.html' %}
{% include 'portfolio/section-second.html' %}
{% include 'portfolio/section-third.html' %}
{% endblock %}