<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estas convencido? mira lo que he construido.</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicacion que envia correos utilizando la API de sendgrid.</p>
                <a class="orange" target="_blank" href="#">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Una aplicacion para gestionar mis clientes.</p>
                <a class="orange" target="_blank" href="#">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Una aplicacion para gestionar mis tareas.</p>
                <a class="orange" target="_blank" href="#">Link aqui</a>
            </div>
        </div>
    </div>
</div>