<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasion aplicaciones y sitios webs</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologias y desarrollando aplicaciones con placer, esta web la construi de cero con python y flask y quiero conocer aun mas de este mundo.</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que tu quieras</h1>
                <p>Solo enviame un correo <a class="orange" href="#contacto">Pinchando aqui</a></p>
            </div>
        </div>
    </div>
</div>